{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'add-page' %}">
        {% csrf_token %}
        <div class="vertical-container">
            <input class="form-control" id="title-input" type="text" name="title" placeholder="Enter Title" onkeypress="return event.key != 'Enter';">
            <textarea class="form-control" name="content" id="markdown" rows="20" placeholder="Enter Markdown"></textarea>
            <div class="button-container">
                <a href="{% url 'index' %}" type="button" class="btn btn-danger" role="button">Cancel</a>
                <button type="sumbit" class="btn btn-success">Create</button>
            </div>
        </div>
    </form>    

{% endblock %}